FYP_Data_Server/TestingForms/Service References/FYPServiceReference/FYPDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FYPDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49995/FYPGetDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49995/FYPGetDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49995/FYPGetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FYPDataService.FYPInfo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFYPGetDataService_GetFYPInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFYPInfo" />
  </wsdl:message>
  <wsdl:message name="IFYPGetDataService_GetFYPInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFYPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFYPGetDataService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFYPGetDataService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFYPGetDataService_InsertAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccount" />
  </wsdl:message>
  <wsdl:message name="IFYPGetDataService_InsertAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IFYPGetDataService">
    <wsdl:operation name="GetFYPInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFYPGetDataService/GetFYPInfo" message="tns:IFYPGetDataService_GetFYPInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFYPGetDataService/GetFYPInfoResponse" message="tns:IFYPGetDataService_GetFYPInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFYPGetDataService/GetData" message="tns:IFYPGetDataService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFYPGetDataService/GetDataResponse" message="tns:IFYPGetDataService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IFYPGetDataService/InsertAccount" message="tns:IFYPGetDataService_InsertAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFYPGetDataService/InsertAccountResponse" message="tns:IFYPGetDataService_InsertAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FYPDataService" />
</wsdl:definitions>